Node-red/flows.json
[{"id":"7da66b83.294514","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7a6b63a5.0d682c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"a2b5cfee.29ac8","type":"mqtt-broker","z":"","name":"localhost","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"858d2ad3.be9318","type":"mqtt out","z":"7da66b83.294514","name":"Hot-end","topic":"/ar1","qos":"2","retain":"","broker":"a2b5cfee.29ac8","x":400,"y":140,"wires":[]},{"id":"b5a5ba78.d80be8","type":"mqtt out","z":"7da66b83.294514","name":"Print-bed","topic":"/ar2","qos":"2","retain":"","broker":"a2b5cfee.29ac8","x":940,"y":140,"wires":[]},{"id":"643fd87d.41ead8","type":"mqtt out","z":"7da66b83.294514","name":"Stepper-motor","topic":"/ar3","qos":"2","retain":"","broker":"a2b5cfee.29ac8","x":620,"y":480,"wires":[]},{"id":"5062b4f2.3d6acc","type":"function","z":"7da66b83.294514","name":"celcius","func":"rnd = Math.round (Math.random() * 20)+185;\nif (rnd>185)\n{\nrnd = 1;\n}\nelse \nrnd =-1\nmsg.payload = rnd;\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":180,"wires":[["858d2ad3.be9318","8338bd58.fdf37"]]},{"id":"140eb87f.7dc728","type":"inject","z":"7da66b83.294514","name":"Temperature","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":true,"onceDelay":0.1,"x":120,"y":100,"wires":[["5062b4f2.3d6acc"]]},{"id":"330f49d4.bf3a66","type":"function","z":"7da66b83.294514","name":"celcius","func":"rnd = Math.round (Math.random() * 20)+40;\nif (rnd>50)\n{\nrnd = 1;\n}\nelse \nrnd =-1\nmsg.payload = rnd;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":160,"wires":[["b5a5ba78.d80be8","8338bd58.fdf37"]]},{"id":"f0d6074f.29f318","type":"inject","z":"7da66b83.294514","name":"Temperature","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":true,"onceDelay":0.1,"x":700,"y":80,"wires":[["330f49d4.bf3a66"]]},{"id":"717485b2.05f00c","type":"function","z":"7da66b83.294514","name":"rev/min","func":"rnd = Math.round (Math.random() * 1000) + 1000 ;\nif (rnd>1500)\n{\nrnd = 1;\n}\nelse \nrnd =-1\nmsg.payload = rnd;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":460,"wires":[["643fd87d.41ead8","8338bd58.fdf37"]]},{"id":"d9d43ac9.9197a8","type":"inject","z":"7da66b83.294514","name":"RPM","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":true,"onceDelay":0.1,"x":330,"y":380,"wires":[["717485b2.05f00c"]]},{"id":"8338bd58.fdf37","type":"join","z":"7da66b83.294514","name":"join","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"0","joinerType":"str","accumulate":false,"timeout":"2","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":370,"y":240,"wires":[["91fc3169.19644","746eb5dc.a9fc8c"]]},{"id":"91fc3169.19644","type":"mqtt out","z":"7da66b83.294514","name":"To_unity","topic":"/ar","qos":"2","retain":"","broker":"a2b5cfee.29ac8","x":600,"y":300,"wires":[]},{"id":"746eb5dc.a9fc8c","type":"debug","z":"7da66b83.294514","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":260,"wires":[]}]